@import "variables";

.burger-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100%;
    padding: 2rem 0 0 2rem;
    background-color: $dark;
    transform: translateX(-130%);
    transition: .3s ease-out;

    ul {
        margin-top: 2rem;
        color: $white;

        li {
            padding: 0.5rem 0;
            list-style: none;

            font: {
                size: 1.4rem;
            }

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }
}

.burger-vis {
    transform: translateX(0%);
    transition: .3s ease-in;
}

.menu-head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-title {
    margin-left: 0;

    font: {
        size: 2rem;
        weight: 600;
    }
    color: $grey;
}

.close-burger-btn {
    margin: 0 1rem 0 auto;


    img {
        width: 2.5rem;
        height: 2.5rem; 
    }
}

@media screen and (min-width: 576px) {

}
@media screen and (min-width: 767px) {
    
}
@media screen and (min-width: 991px) {
    .burger-menu {
        display: none;
    }
}
@media screen and (min-width: 1199px) {
    
}