@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    
    font: {
        family: 'Montserrat';
        size: 14px;
    }
}

body {
    position: relative;
    background-color: $black;
}

.container {
    padding: 3rem 2rem;
}

.box {
    padding: 2rem;
}

.container-title {

    font: {
        size: 2rem;
        weight: 700;
    }
    color: $black;
}

.text {
    margin-top: 2rem;

    font: {
        size: 1.2rem;
    }
    color: $black;
}

.accent {
    color: $accent;
}

.header {
    display: flex;
    align-items: center;
    padding: 2rem 2rem 0 2rem;
}

.burger-btn img {
    width: 2.5rem;
    height: 2.5rem;
}

.burger-btn-anim {
    animation: rotateOut;
    animation-duration: .3s;
}

.logo {
    margin-right: 0;
    margin-left: auto;

    font: {
        size: 1.5rem;
        weight: 700;
    }
    color: $white;
}

.navigation {
    display: none;
    margin: 0 0 0 auto;
}

.nav-el {
    margin-left: 3rem;
    text-decoration: none;
    transition: .3s ease;

    font: {
        size: 1.2rem;
    }
    color: $light;
    
    &:hover {
        color: $second-clr;
    }
}

.content-box {
    animation: backInUp;
    animation-duration: 1.5s;
}

.main-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    transition: 0.7s ease;
}

.main-img-box-hide {
    opacity: 0;
    transition: .2s ease;
}

.img-section {
    display: flex;
    justify-content: center;
    width: 100%;

    animation: backInDown;
    animation-duration: 1s;
}

.slogan-section {
    display: none;
    align-items: center;
    width: 50%;
    height: 100%;

    animation: backInRight;
    animation-duration: .7s;
}

.slogan {

    font: {
        size: 4rem;
        weight: 700;
    }
    color: $light;
}

.info-box {
    border-radius: 3rem 3rem 0 0;
    background-color: $white;
}

.team-box {
    background-color: $white;
}

.person-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.person {
    width: 100%;
    margin-bottom: 2rem;
    padding-right: 4rem;

    .text {
        margin-top: 1rem;
    }
}

.person-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    img {
        width: 15rem;
        height: 15rem;
    }
}

.person-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;

    font: {
        size: 1.4rem;
        weight: 700;
    }
}

span.skill {
    margin-left: 1rem;
    padding: 3px 5px;

    font: {
        size: 1rem;
        font-weight: 500;
    }
    border-radius: 4px;
    

    &.frontend {
        color: #ff7300;
        background-color: #f8d2b2;
        border: 1px solid #ff7300;
    }
    &.design {
        color: #cc00ff;
        background-color: #ecb2f8;
        border: 1px solid #cc00ff;
    }
    &.js {
        color: #0066ff;
        background-color: #b2d3f8;
        border: 1px solid #0066ff;
    }
    &.smm {
        color: #ff0000;
        background-color: #f8b2b2;
        border: 1px solid #ff0000;
    }
}

//$grid-breakpoints: (
//  xs: 0,
//  sm: 576px,
//  md: 768px,
//  lg: 992px,
//  xl: 1200px,
//  xxl: 1400px
//);

@media screen and (min-width: 576px) {

}
@media screen and (min-width: 767px) {
    
}
@media screen and (min-width: 991px) {
    .box {
        margin: 0 4rem;
    }
    .burger-btn {
        display: none;
    }
    .logo {
        margin: 0 auto 0 0;
    }

    .navigation {
        display: flex;
    }
    
    .img-section {
        width: 50%;
    }

    .slogan-section {
        display: flex;
        justify-content: flex-start;
    }
    .person {
        width: 50%;
    }
    .person-name {
        align-items: flex-start;
        flex-direction: column;
    }
    span.skill {
        margin-top: 5px;
        margin-left: 0;
    }
}
@media screen and (min-width: 1199px) {
    .person {
        width: 25%;
    }
}