@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');

$black: #000;
$grey: #07031a;
$white: #fff;
$dark: #0f082f;
$accent: #6857dd;
$second-clr: #b8b5ff;
$light: #e4fbff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
    
    font: {
        family: 'Montserrat';
        size: 14px;
    }
}

body {
    position: relative;
    background-color: $grey;
}

.container {
    padding: 3rem 2rem;
}

.container-title {

    font: {
        size: 2rem;
        weight: 700;
    }
    color: $light;
}

.text {
    margin-top: 2rem;

    font: {
        size: 1.2rem;
    }
    color: $light;
}

.accent {
    color: $accent;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

.burger-btn img {
    width: 2.5rem;
    height: 2.5rem;
}

.burger-btn-anim {
    animation: rotateOut;
    animation-duration: .3s;
}

.logo {
    margin-right: 0;
    margin-left: auto;

    font: {
        size: 1.5rem;
        weight: 700;
    }
    color: $white;
}

.navigation {
    display: none;
    margin: 0 0 0 auto;
}

.nav-el {
    margin-left: 3rem;
    text-decoration: none;

    font: {
        size: 1.2rem;
    }
    color: $light;
    
    &:hover {
        color: $accent;
    }
}

.content-box {
    animation: backInUp;
    animation-duration: 1.2s;
}

.main-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    transition: 0.7s ease;
}

.img-section {
    display: flex;
    justify-content: center;
    width: 100%;

    animation: backInDown;
    animation-duration: .4s;
}

.slogan-section {
    display: none;
    align-items: center;
    width: 50%;
    height: 100%;

    animation: backInRight;
    animation-duration: .7s;
}

.slogan {

    font: {
        size: 4rem;
        weight: 700;
    }
    color: $light;
}

.main-img-box-hide {
    opacity: 0;
    transition: .2s ease;
}

.info-box {
    border-radius: 4rem 4rem 0 0;
    background-color: $dark;
}

//$grid-breakpoints: (
//  xs: 0,
//  sm: 576px,
//  md: 768px,
//  lg: 992px,
//  xl: 1200px,
//  xxl: 1400px
//);

@media screen and (min-width: 576px) {

}
@media screen and (min-width: 767px) {
    
}
@media screen and (min-width: 991px) {
    .burger-btn {
        display: none;
    }
    .logo {
        margin: 0 auto 0 0;
    }

    .navigation {
        display: flex;
    }
    
    .img-section {
        width: 50%;
    }

    .slogan-section {
        display: flex;
        justify-content: flex-start;
    }
}
@media screen and (min-width: 1199px) {
    
}